*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
opencv-mobile-4.5.3-android
ncnn-20210720-android-vulkan

*.png
*.zip
*.pth
*.pyc
logs
*.onnx