<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crackdetection"
    android:versionCode="1"
    android:versionName="1.1">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="crack_detection"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".MainActivity"
                  android:label="crackdetection"
                  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>